@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
    .visibledevice {display:flex;}
    .visibledesktop {display:none;}
    .main-content {
        font-size: 15px !important;
    }

    .title1 {
        font-size: 15px !important;
    }

    .main-content {
        display: flex;
        flex-flow: column;
        justify-content: center;
        width: 100%;
        margin: auto;
    }

    .usage {
        width: 100%;
    }

    .payment {
        width: 100%;
    }

    .add_act {
        width: 100%;
    }

    .total_bill {
        width: 100%;
    }
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .visibledevice {display:none;}
    .visibledesktop {display:flex;}

    .main-content {
        max-width: 1200px;
        min-width: 460px;
        margin: auto;
        display: flex;
        flex-flow: row;
        justify-content: center;
    }
    .usage {
        width: 35%;
    }
    .payment {
        width: 65%;
    }

    .add_act {
        width: 35%;
    }

    .total_bill {
        width: 65%;
    }

}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

@media (min-width: 220px) {
    .main-content {
        font-size: 15px !important;
    }
}



.usage {
    background-color: #DFF1FF;

    align-self: stretch;
    margin-left: 1%;
    margin-right: 1%;
}

.payment {
    background-color: #ffffff;

    align-self: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.btn_out {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    width: 5em;
    background-color: #ffffff;
    color: #5372ec;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.btn_in {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    width: 5em;
    background-color: #ffffff;
    color: #5372ec;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.btn_out:active {
    background-color: #9ec4ec;
    transform: translateY(1px);
    transition-duration: 0.4s;
}
.btn_in:active {
    background-color: #9ec4ec;
    transform: translateY(1px);
    transition-duration: 0.4s;
}

.charts {
    width: inherit;
    background-color: #DFF1FF;
}
.pls {
    color: deeppink;
    width: 2em;
    height: 2em;
}

.bill_data {
    width: 95%;
    align-self: center;
    justify-content: center;
}

.part1 {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    border: #9fcdff solid 1px;
    width: 90%;
    border-radius: 10px;
    margin-top: 1em;
}

.item {
    display: flex;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;

}
.item_big {
    display: flex;
    flex-flow:column;
    align-items: start;
    padding-left: 1%;
    padding-right: 1%;
    width: 60%;
    line-height: 1em;
}
.sml {
    width: 5%;
}

.hide2 {
    visibility: hidden;
}

.popup:hover {
    fill: red;
}

.part1:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 1.5px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.9s ease 0s;
    cursor: pointer;
}

.part2 {


}

.part2_data{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 90%;
    background-color:  #DFF1FF;
    border-radius: 10px;
}
.s1 {
    width: 50%;
    border: #9fcdff solid 1px;
    flex-basis: auto;
}

.item_l {
    width: 50%;
    padding-right: 0.5em;

}

.item_s {
    width: 25%;


}

.header {
    font-weight: bold;
    font-size: 0.85em;
}

.data_row {
    font-size: 1.125em;
    border-radius: 10px;
    color: #818181;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    padding: 0.5em;

}

.bill_parts {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

.head-rWW{
    margin-right: 2.5em;
    font-size: 1.2em;
    font-weight: bold;
    color: #006db8;
}

.head-c {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #006db8;
}
.head-r {
    text-align: right;
    font-size: 1.2em;
    font-weight: bold;
    padding-right: 3%;
    color: #006db8;

}

.data_total {
    display: flex;
    justify-content: center;
    flex-flow: row;
    align-items: center;
    padding: 1%;
    font-size: 1.56em;
    font-weight: bold ;
    color: #f9f9f9;
    background-color: #263e93;
    border-radius: 10px;
    top: -10%;
    width: 85%;

}

.hide {
    display: none;

}
.show {
    background-color: #2a6496;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    size: inherit;
    background: #9fcdff;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 5;
    border: #2a6496 solid 1px;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup-1 {
    margin: 10em auto;
    background:#9ec4ec;
    border-radius: 5px;
    width: 30%;
    height: min-content;
    position: relative;
    transition: all 5s ease-in-out;
    color: #f9f9f9;
    border: #2a6496 solid 1px;
}

.popup-1 .close {
    position: absolute;
    top: 10px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup-1 .close:hover {
    color: #007bff;
}
.popup-1 .content {
    max-height: 40%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup-1{
        width: 70%;
    }
}

progress {
    direction: ltr;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    height: 0.25em;
    width: 100%;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(135, 93, 93, 0.12) inset;
}
progress[value]::-webkit-progress-value {
    background-color: rgba(18, 20, 224, 0.64);
    border-radius: 2px;
    background-size:  0.25em,  0.25em, 100% 100%, 100% 100%;
}

.usage_bl {
    background-color: rgba(18, 20, 224, 0.64);
}

.usage_pink::-webkit-progress-value {
    background-color: rgba(224, 18, 190, 0.64);
    border-radius: 2px;
    background-size:  0.25em,  0.25em, 100% 100%, 100% 100%;
}

/* Container for skill bars */
.container_progress {
    width: 8em; /* Full width */
    background-color: #ddd; /* Grey background */
    height: 0.25em;
}

.header-r{
    font-weight: bold;
    text-align: right;
    padding-right: 1em;
    margin-top: 1em;
}

.usage_data {
    font-size: small;
    text-align: right;
    padding-right: 1em;
    width: 40%;
}

.usage_data_val {
    font-size: small;
    text-align: center;
    width: 20%;
}

.usage_row {
    display: flex;
    flex-flow: row;
    align-content: center;
}
<!-- footer -->
footer {
    width: inherit;
    clear: both;
}
.add_act {
    background-color: #fefefe;

    align-items: center;
}

.payment_total {
    display: flex;
    flex-flow: row ;
    justify-content: center;
    background-color:#006db8;
    width: 100%;
}
.payment_total_row {
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: center;
    padding: 0.35em;
}

.empty_cell {
    width: 20%;
}
.payment_total_desc {
    align-content: center;
    justify-content: center;
    width: 50%;
    word-wrap: normal;
    font-weight: normal;
    font-size: large;
}

.payment_total_v {
    text-align: left;
    width: 35%;
    font-size: large;
    font-weight: bold;
    color: #fefefe;
    padding-left: 1em;
}
.all_total {
    font-size: large;
    color: #fefefe;
    width: 100%;
    background-color: #2a6496;
    padding-top: 1em;
    padding-bottom: 1em;
    float: bottom;
}
.dark_blue {
    background-color: #2a6496;
    color: #fefefe;
}
.total_bill {
    display: flex;
    flex-flow: column ;
    align-items: center;
    justify-content: center;
}

.small-v {
    padding-left: 15%;
    height: auto;
    text-wrap: avoid;
}
.kav {
    fill: #2a6496;
}

.pad0 {
    padding: 0;
}

.blue {
    color: #DFF1FF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    alignment: center;
    width: 100%;
}
ul li a {
    text-decoration: none;
    line-height: 2.3em;
    width: 100%;
    color:  #2a6496;
}

ul li a :hover {
    font-weight: bold;
    text-decoration: none;
}

.fill_blue {
    fill: #006db8;
}
i {
    padding-left: 1em;
}
.acts {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    padding-right: 15%;

}

.red {
    color: red;
}

.title {
    font-size: 1.55em;
    color: #2A85D4;
}

.subtitle {
    font-size: 1.25em;
    color: #818181;
}

.cntr {
   align-items: center;
}

.bld {
    font-weight: bold;
}

.fsml {
    font-size: 1.25em;
}
